/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #1f3c78, #1d72b8); /* Bluish Gradient */
  color: #151515; /* Light text for contrast */
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  min-height: 100vh;
  margin: 0;
  padding: 10px;
}
nav{
  background-color: #151515;
  padding: 10px;
  min-width: 100%;
}
nav li{
  display: inline-block;
  margin: 5px;
}
img{
  max-width: 100%;
}
